{% load wagtailcore_tags wagtailimages_tags %}


<div class="card mb-3">
    <h3 class="card-header">{{ self.title }}</h3>
    <div class="card-body">
        <small class="card-title">{{ self.created_at }}</small>
        <h6 class="card-subtitle text-muted">Support card subtitle</h6>
    </div>

    <div class="card-body">
        <p class="card-text">{{ self.body | richtext }}</p>
    </div>

    <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
        <div class="container carousel-inner">
            {% for gallery_image in self.gallery_images.all %}
            <div class="carousel-item {% if forloop.first %}active{% endif %}">
                {% image gallery_image.image width-2000 as img %}
                <img src="{{ img.url }}" class="d-block w-100 img-fixed-size rounded m-2" alt="{{ self.title }}">
            </div>
            {% endfor %}
        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>

<style>
    .img-fixed-size {
        height: 500px;
        object-fit: cover;
    }
</style>